<nav>
  <ul>
    <li [routerLink]="['/pages/home']">Home</li>
    <li [routerLink]="['/pages/about']">About</li>
    <li [routerLink]="['/pages/contact']">Contact</li>
    <li [routerLink]="['/pages/form/list']">Form</li>
    <li>{{registerService.user}}</li>
  </ul>
</nav>

<!--<nav>-->
<!--  <ul>-->
<!--    <li (click)="linkHome()">Home</li>-->
<!--    <li (click)="linkAbout()">About</li>-->
<!--    <li (click)="linkContact()">Contact</li>-->
<!--    <li (click)="linkForm()">Form</li>-->
<!--  </ul>-->
<!--</nav>-->
